@page "/servers"

@rendermode InteractiveServer
<h3>Servers</h3>
<br />
<br />
<CityListComponent SelectCityCallback="HandleCitySelection" @ref="cityListComponent"></CityListComponent>

<br />
<SearchBarComponent SearchServerCallback="HandleSearchServer" @ref="searchBarComponent"></SearchBarComponent>
<br />

<CascadingValue Name="SelectedCity" Value="@selectedCity" >
    

<ServerListComponent @rendermode="InteractiveServer" CityName="@this.selectedCity"
                     SearchFilter="@searchFilter" ></ServerListComponent>

</CascadingValue>

<p>
    <a href="/servers/add" class="btn btn-primary" >Add</a>
</p>
@code {
    private string selectedCity = "Toronto";
    private string searchFilter = string.Empty;
    private CityListComponent? cityListComponent;
    private SearchBarComponent? searchBarComponent;

    private void HandleSerch()
    {
        //selectedCity = string.Empty;
    }

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        searchFilter = string.Empty;
        searchBarComponent?.ClearFilter();
    }

    private void HandleSearchServer(string searchFilter)
    {
        this.searchFilter = searchFilter;
        cityListComponent?.ClearSelection();
      
    }
}
