@page "/todolist"
@rendermode InteractiveServer

<h3>ToDo</h3>
<br/>
<br />
<button class="btn btn-primary" @onclick="AddTask">Add Item</button>
<br />
<br />
<br />
@if (items.Count == 0)
{
    <p>No items in the list.</p>
}
else
{
    <ul class="list-unstyled">
        <ToDoApp.Components.Controls.TodoListComponent Items="items" />
    </ul>
}

@code {

    private readonly List<ToDoItem> items = ToDoItemsRepository.GetItems();

    private void AddTask()
    {
        var newItem = new ToDoItem
            {
                 Name = $"New Task {items.Count + 1}"
            };
        items.Add(newItem);
        ToDoItemsRepository.AddItem(newItem);
    }
}
