@if(string.IsNullOrEmpty(CityName))
{
    <p class="text-danger">City name is required.</p>
}
else if (servers == null || servers.Count == 0)
{
    <p class="text-info">No servers found in @CityName.</p>
}
else
{

    <table class="table table-striped table-hover">
        <RepeaterComponent Items="this.servers">
            <Header>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>People Online</th>
                    <th>Actions</th>
                </tr>
            </thead>
            </Header>
            <Row Context="server">
                <ServerComponent Server="server" />
            </Row>
        </RepeaterComponent>
       
       
 
    </table>
    
}


@code {
    [Parameter]
    public string? CityName { get; set; } = "Toronto";

    [Parameter]
    public string SearchFilter { get; set; } = "";

    private List<Server>? servers;
    protected override void OnParametersSet()
    {
        if (string.IsNullOrWhiteSpace(this.SearchFilter))
        {
            servers = ServersRepository.GetServersByCity(CityName ?? "Toronto");
        }
        else
        {
            servers = ServersRepository.SearchServers(this.SearchFilter);
        }
    }
  

}

