<p style="color:@(server.IsOnline ? "green" : "red")">
    @server.Name is in @server.City that is @(server.IsOnline ? "online" : "offiline")
</p>
@code {
    private Server server = new Server { Name="Server1", City = "London" };
}
