@typeparam TItem

@if (Items is not null && Items.Any())
{
    @Header
    <Virtualize Items="@Items"
                Context="item">
        @Row(item)
    </Virtualize>
    @Footer
}
else
{
    <p>No items available.</p>
}


@code {
    [Parameter]
    public IList<TItem>? Items { get; set; }
    [Parameter]
    public RenderFragment<TItem>? Row { get; set; } = null;
    [Parameter]
    public RenderFragment<TItem>? Header { get; set; } = null;
    [Parameter]
    public RenderFragment<TItem>? Footer { get; set; } = null;
}
